<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:authorities="${applicationId}.shiro.init"
            android:name=".shiro.init.ShiroInit"
            android:exported="false"/>
    </application>
</manifest>